@font-face { font-family: NeoNeon; src: url('Neoneon.otf'); }

@keyframes slidein{
    from{
        font-size:initial;
    }

    to{
        font-size:larger;
    }
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    /*background-color: rgb(99, 57, 31);*/
}

.container{
    width:95%;
    margin:auto;
    overflow:hidden;
}

#top-head{
    font-family: NeoNeon;
    background-color: black;
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    text-shadow: 5px 5px 0 rgba(255, 255, 255, 0.125);
}

#navigation{
    background-color: rgb(51, 51, 51);
    color: whitesmoke;
    text-shadow: 2px 2px 0 rgba(255, 255, 255, 0.125);
}

#navigation ul{
    padding:0;
    list-style: none;
}

#navigation li{
    display: inline;
}

#navigation a{
    color: whitesmoke;
    font-size: 18px;
    padding-right: 20px;
    text-decoration: solid;
}