body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    background-color: rgb(99, 57, 31);
}

.container{
    width:95%;
    margin:auto;
    overflow:hidden;
}

#top-head{
    background-color: darkgreen;
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
}

#navigation{
    background-color: black;
    color: whitesmoke;
}

#navigation ul{
    padding:0;
    list-style: none;
}

#navigation li{
    display: inline;
}

#navigation a{
    color: whitesmoke;
    font-size: 18px;
    padding-right: 20px;
    text-decoration: solid;
}